*.DS_Store
*.calva
*.class
*.cpcache
*.jar
.hg/
/.cpcache
/.lein-*
/.nrepl-history
/.nrepl-port
/checkouts
/classes
/target
pom.xml.versionsBackup
/files
*.lock.hcl
*.swp
.clj-kondo/
.lsp/
.vscode/*
JOHN_NOTES.md